.btn-success {
    background-color: #2ECC71;
    border-color: #2ECC71;
}

.navbar-center {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
  }
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    width: 100%;  
}


/* Carousel Styles */
.carousel-inner > .item > img {
  width:100%;
  height:250px;
}

.carousel-control.left
{
    background: none;
}
.carousel-control.right
{
    background: none;
}

.carousel-control
{
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: auto;
    color: #fff;
    text-align: center;
    opacity: 1;
    text-shadow: none;
}
.carousel-control:hover
{
    color: #000;
}
.carousel-indicators
{
    bottom: -7px;
}
.carousel-indicators li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #16a085;
    border-radius: 50%;
}
.carousel-indicators .active
{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #16a085;
}
.carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    /*background: rgba(0,0,0,0.4);*/
}

/* Modal Register*/

/*Daftar*/
.at-login-form .btn-fb
{
  display: inline-block;
  padding: 18px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #4568B2;
  width: 100%;
  margin-top: 10px;
  color:#fff;
}
.at-login-form .btn-gp
{
  display: inline-block;
  padding: 18px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 0px;
  background-color: #FFFFFF;
  width: 100%;
  margin-top: 10px;
  color:#000;
}

.at-login-form .btn-lgin
{
  display: inline-block;
  padding: 18px 20px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #eee;
  border-radius: 0px;
  background-color: #2ECC71;
  width: 100%;
  margin-top: 10px;
  color:#fff;
}
.at-login-form .signup-or-separator {
  background: none;
  position: relative;
  text-align: center;
}
.at-login-form .signup-or-separator--text {
  background-color: #fff;
  display: inline-block;
  padding: 8px;
}

.at-login-form .h6 {
  font-size: 14px;
  font-weight: bold;
  color: #757575;
  line-height: 1.1;
  text-rendering: optimizelegibility;
}

.at-login-form .signup-or-separator hr {
  margin: -25px auto 10px;
  width: 100%;    
}

.at-login-form .form-control-form {
  display: block;
  width: 100%;
  height: 54px;
  padding: 15px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-top: 3px;
}   

.at-login-form .btn-gst
{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #000;
  border-radius: 0px;
  background-color: transparent;
}

.at-login-form .ta-l
{
  text-align:left;
  margin-top: 5px;
}

.at-login-form .modal-dialog {
  width: 500px;
  margin: 30px auto;
}

.at-login-form .modal-content
{
  padding: 0px 10px;
}

.at-login-form  .modal-header {
  padding: 10px 10px;
  border-bottom: 0px solid #e5e5e5;
}
.blue-bg-nav
{
  background-color:#2ECC71;
}
/* Close Modal Rehister*/

/*Login Dropdown */
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/*close dropdown*/

/*Box Iklan*/

.box2 {
    box-shadow: 0 0 1px black;
    border-radius: 10px;
    /*margin-right: 10px;*/
}
/*close iklan*/

/*Footer*/
.full {
    width: 100%;    
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    background-image: url(../img/footer.png);
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.footer img {
    max-width: 100%;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}
.footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}
.footer a {
    color: #78828D
}
.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0 !important;
    padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
    color: #EDEFF1;
}
.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}
.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}
.payments {
    font-size: 1.5em;   
}

/*Close footer*/

/* Image Footer */
.image-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
}
.post-content {
    /*background: rgba(0,0,0,0.4);*/
    background: none repeat scroll 0 0 #FFFFFF;
    /*color: #fff;*/
    opacity: 0.5;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding-top: 3px;
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
}

/*Close image */

.navbar-brand .logo {
    position: absolute;
    margin-bottom: 10px;
}